* {
    background-color: ffffff;
    font-family: "roboto";
}
body{
    float: right;
    width: 100%;
    height: 100%;
}
header{
    background-color: #373867;
    width: 100%;
    height: 110px;
    margin-left: 0px;
    margin-top: 0px;
}
h1{
    color: white;
    position: absolute;
    width: 1062px;
    height: 59px;
    margin-top: -50px;
    margin-left: 300px;
    text-align: center;
    font-family: "roboto";
    font-size: 70px;
    font-weight: 700px;
    font-style: bold;
}
aside{
    float: left;
    position: absolute;
    background-color: #c4c4c4;
    width: 30%;
    height: 4130px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 16px
    }
input{
    position: relative;
    width: 177px;
    height: 31px;
    margin-top: 141px;
    margin-left: 128px;
    border-radius: 4px;
    padding: 10px, 12px, 10px, 12px;
}
.arrow{
    position: relative;
    width: 19px;
    height: 15px;
    top: 10px;
    left: 70px;
}
.search{
    position: relative;
    width: 30px;
    height: 38px;
    top: 20px;
    left: 81px;

}
nav{
    display: inline-flexbox;
    width: 302px;
    height: 45px;
    margin-left: 66px;
    margin-top: 209px;
}
a{
    width: 302px;
    height: 45px;
    margin-top: 209px;
    margin-left: 66px;
}
ul{
    width: 212px;
    height: 35px;
    margin-top: 639px;
    margin-left: 40px;
}

.title{
    text-align: center;
    width: 499px;
    height: 80px;
    margin-top: 10px;
    margin-left: 700px;
    text-align: center;
    font-family: roboto, sans serif;
    font-style: normal;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    text-decoration: underline
}
#box-1 {
    position: relative;
    bottom: 800px;
    left: 20px;
    width: 40%;
    display: block;
}
#box-1 img{
    position: relative;
    top: 800px;
}
#box-1 h2{
    position: relative;
    top: 820px;
    font-family: "roboto, sans serif";
    font-style: bold;

}
#box-1 p{
    position: relative;
    top: 850px;
    font-family: "roboto, sans serif";
    color: #373867;
}
#box-1 button{
    position: relative;
    top: 870px;
    left: 250px;
}
#box-2{
    position: relative;
    float: right;
    width: 30%;
    bottom: 1150px;
    display: block;
}
#box-2 h2{
    position: relative;
    top: 700px;
    left: 150px;
}
#box-2 img{
    position: relative;
    top: 680px;
}
#box-2 p{
    position: relative;
    top: 640px;
    left: 150px;
}
#box-2 button{
    position: relative;
    top: 650px;
    left: 300px;
}
#box-3{
    position: relative;
    display: block;
    float: right;
    width: 30%;
    bottom: 1000px;
}
#box-3 h2{
    position: relative;
    top: 750px;
    left: 440px;
}
#box-3 img{
    position: relative;
    top: 730px;
    left: 280px;
}
#box-3 p{
    position: relative;
    top: 680px;
    left: 440px;
}
#box-3 button{
    position: relative;
    top: 680px;
    left: 580px;
}

#section-trayectory{
    position: relative;
    display: block;
    bottom: 1500px;
}
#section-trayectory h2{
    position: relative;
    text-align: center;
    top: 1700px;
    left: 400px;
}
#section-trayectory p{
    position: relative;
    text-align: left;
    width: 200px;
    top: 1780px;
    left: 50px;
}
#section-trayectory img{
    position: relative;
    top: 1520px;
    left: 400px;
    width: 550px;
    height: 300px;
    border-radius: 10px;
}
#work{
position: relative;
display: block;
bottom: 200px;
}
#work h2{
    position: relative;
    text-align: center;
    top: 350px;
    left: 200px;
    }
.productivity{
    position: relative;
    top: 400px;
    left: 150px;
}
.progress{
    position: relative;
    top: 500px;
    left: 150px;
}
.teams{
    position: relative;
    top: 20px;
    left: 900px;
}
.decisions{
    position: relative;
    top: 120px;
    left: 900px;
}
#functions{
    position: relative;
    display: block;
    bottom: 10px;
}
#functions h2{
    position: relative;
    text-align: center;
    top: 50px;
    left: 200px;
}
#functions img{
    position: relative;
    top: 100px;
    left: 50px;
}
#functions ol{
    text-align: right;
    position: relative;
    top: 0px;
}
#touch{
    position: relative;
    display: block;
    bottom: 350px;
}
#touch h2{
    position: relative;
    text-align: center;
    top: 450px;
    left: 200px;
}
#complete{
    position: relative;
    display: block;
}
#complete input{
    top: 50px;
    left: 100px;
    width: 789px;
}
#complete option{
    position: relative;
    top: 100px;
    left: 100px;
    width: 789px;
}
#complete button{
    position: relative;
    width: 162px;
    height: 49px;
    top: 150px;
    left: 900px;
}
#title{
    position: relative;
    display: block;
    bottom: 300px;
}
#title h2{
    position: relative;
    text-align: center;
    top: 500px;
    left: 200px;
}
#title img{
    position: relative;
    top: 550px;
    left: 50px;
}
#title ul{
    float: right;
    position: relative;
    top: -500px;
    bottom: 1000px;
    width: 200px;
    height: 800px;
}
#lists{
    position: relative;
    display: block;
    bottom: 100px;
}
#lists h2{
    position: relative;
    top: 400px;
    text-align: center;
    left: 200px;
    font-size: 40px;
    font-style: bold;
}
#lists ol{
    position: relative;
    float: left;
    top: -100px;
    left: 100px;
    margin-bottom: 100px;
}
#lists ul{
    position: relative;
    top: -100px;
    left: 700px;
    width: 300px;

}

main{
    float: right;
    width: 70%;
    left: 370px;
    top: 110px;
    height: 100%;
}
.box-5 {
    float: right;
    top: 1468px;
    left: 962px;
}